[Desktop Entry]
Version=1.0
Icon=/userdata/system/fi/sunshine/extras/sunshine.png
Exec=/userdata/system/fi/sunshine/launcher.sh
Terminal=false
Type=Application
Categories=Game;batocera.linux;
Name=sunshine-restart
